[submodule "fasthash-sys/src/smhasher"]
	path = fasthash-sys/src/smhasher
	url = https://github.com/rurban/smhasher
[submodule "fasthash-sys/src/t1ha"]
	path = fasthash-sys/src/t1ha
	url = https://github.com/leo-yuriev/t1ha.git
[submodule "fasthash-sys/src/xxHash"]
	path = fasthash-sys/src/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "fasthash-sys/src/highwayhash"]
	path = fasthash-sys/src/highwayhash
	url = https://github.com/google/highwayhash.git
[submodule "fasthash-sys/src/wyhash"]
	path = fasthash-sys/src/wyhash
	url = https://github.com/wangyi-fudan/wyhash.git
[submodule "fasthash-sys/src/komihash"]
	path = fasthash-sys/src/komihash
	url = https://github.com/avaneev/komihash.git
[submodule "fasthash-sys/src/prvhash"]
	path = fasthash-sys/src/prvhash
	url = https://github.com/avaneev/prvhash.git
[submodule "fasthash-sys/src/nmhash"]
	path = fasthash-sys/src/nmhash
	url = https://github.com/gzm55/hash-garage
